/* log */
.log-title {
  margin-bottom: 8px;
}

.log {
  position: relative;
  margin-bottom: 18px;
}

.log > div > div {
  padding: 1% 5%;
  display: flex;
}

.log > div > div > p {
  margin: 0 0;
  margin-top: 10px;
  color: #cdcdcd;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}

.log > div > div > p + p {
  margin-left: 16px;
}

.log div > h1 {
  margin: 0;
  margin-bottom: 10px;
}

.log-status {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.log-status > h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin-left: 12px;
}
