@import url(https://fonts.googleapis.com/css?family=Roboto);

/* global */
* {
  font-family: "Roboto";
  list-style: none;
  font-size: 16px;
}

h1 {
  font-size: 24px;
}

html {
  background-color: #FAFCFF;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  height: 60px;
  width: 100%;
  box-shadow: 2px 2px 8px 1px rgba(220, 220, 220, 0.4);
}

header .icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 3%;
  margin: 0 10%;
  margin-top: 40px;
  grid-template-columns: repeat(12, 1fr);
}

.grid div {
  grid-column: 6 span;
}

.card {
  background-color: #fff;
  box-shadow: 2px 2px 8px 1px rgba(220, 220, 220, 0.4);
  border-radius: 3px;
}

.card-fit {
  width: max-content;
  background-color: #fff;
  box-shadow: 2px 2px 8px 1px rgba(220, 220, 220, 0.4);
  border-radius: 3px;
}

/* title */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 160px;
}

.title h1 {
  padding-top: 3px;
}

.title img{
  margin-right: 8px;
}

/* clock */
.now {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  padding: 1% 0;
}

.now h1 {
  font-size: 5vh;
  font-weight: bold;
}

.now .time {
  margin-left: 21px;
}

/* position */
.position {
  margin-top: 24px;
}