@import url(https://fonts.googleapis.com/css?family=Roboto);

/* global */
* {
  font-family: "Roboto";
  list-style: none;
  font-size: 16px;
}

h1 {
  font-size: 24px;
}

html {
  background-color: #fafcff;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  height: 60px;
  width: 100%;
  box-shadow: 2px 2px 8px 1px rgba(220, 220, 220, 0.4);
}

header .icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 5%;
  margin: 0 10%;
  margin-top: 40px;
  grid-template-columns: repeat(12, 1fr);
}

.grid div {
  grid-column: 6 span;
}

.card {
  background-color: #fff;
  box-shadow: 2px 2px 8px 1px rgba(220, 220, 220, 0.4);
  border-radius: 3px;
}

.card-fit {
  width: max-content;
  background-color: #fff;
  box-shadow: 2px 2px 8px 1px rgba(220, 220, 220, 0.4);
  border-radius: 3px;
}

/* title */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 160px;
}

.title h1 {
  padding-top: 3px;
}

.title img {
  margin-right: 8px;
}

/* clock */
.now {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px;
  padding: 2% 1%;
}

.now h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.now .time {
  margin-left: 21px;
}

/* position */
.position-title {
  margin-top: 24px;
}

.position {
  margin-top: 16px;
}

.position div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1%;
}

.position h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
}

.position .category {
  margin-left: 87px;
}

/* status */
.status {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.status div {
  padding: 5% 10%;
  display: flex;
  justify-content: center;
}

/* history */
.history-title {
  margin-bottom: 8px;
}

.history {
  position: relative;
  margin-bottom: 18px;
}

.history > div > div {
  padding: 1% 5%;
}

.history-date {
  display: flex;
}

.history-date p {
  margin: 0 0;
  margin-top: 10px;
  color: #cdcdcd;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}

.history-date .time {
  margin-left: 16px;
}

.history-status {
  position: absolute;
  top: 15%;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.history-status > h1 {
  margin-left: 12px;
}

.history-position > h1 {
  margin: 0;
  margin-bottom: 10px;
}
