/* position */
.position-title {
  margin-top: 24px;
}

.position {
  margin: 5% 0;
}

.position div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1%;
}

.position > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
}
